$primary-color: #C40;
$secondary-color: #E90;

// golden: rgb(252, 216, 122); rgb(248, 153, 68);
// first: #C40 + #E90;

* { box-sizing: border-box; -moz-box-sizing: border-box; }
body { font-family: 'Varela', sans-serif; background: white; color: #333; }
h1 { font-size: 1.6em; }
p { margin: 0.5em; line-height: 1.5em; }
em { background-color: black; color: white; padding: 4px; border-radius: 3px; letter-spacing: 0.15em; box-sizing: content-box; -moz-box-sizing: content-box; }

a { color: black; text-decoration: none; }
a:hover { color: #E90; }

.content { max-width: 600px; padding: 1em 1em; margin: auto; }
