$primary-color: rgb(210, 68, 8);
$secondary-color: #E90;

// golden: rgb(252, 216, 122); rgb(248, 153, 68);
// first: #C40 + #E90;
// #F40

* { box-sizing: border-box; -moz-box-sizing: border-box; }
body { font-family: 'Varela', sans-serif; background: white; color: #333; }
h1 { font-size: 1.6em; }
p { margin: 0.5em; line-height: 1.5em; }
em { background-color: black; color: white; padding: 4px; border-radius: 3px; letter-spacing: 0.15em; box-sizing: content-box; -moz-box-sizing: content-box; }

a { color: $primary-color; text-decoration: none; }
a:hover { color: $secondary-color; }

.main-container {
	max-width: 600px; 
    padding: 0em 0em; 
    margin: 0px auto 0px auto; 
}

.information {
    background-color: white;
    padding: 1.0em;
    box-sizing: content-box; 
    -moz-box-sizing: content-box;
}

footer {
    margin-top: 1.5em;
    width: 100%;
    background-color: black;
}