$primary-color: rgb(210, 68, 8);
$secondary-color: #E90;
$dark: rgb(20, 20, 20);

// golden: rgb(252, 216, 122); rgb(248, 153, 68);
// first: #C40 + #E90;
// #F40

* { box-sizing: border-box; -moz-box-sizing: border-box; }
body { font-family: 'Varela', sans-serif; background: white; color: #333; }
h1 { font-size: 1.6em; }
p { margin: 0.5em; line-height: 1.5em; }
.new-section { margin-top: 2em; }
em { background-color: black; color: white; padding: 2px 4px; border-radius: 3px; letter-spacing: 0.15em; box-sizing: content-box; -moz-box-sizing: content-box; }

a { color: $primary-color; text-decoration: none; }
a:hover { color: $secondary-color; }

.main-container {
	background-color: $dark;
	max-width: 600px; 
    padding: 0em 0em; 
    margin: 0px auto 0px auto; 
}

.information {
    background-color: white;
    padding: 1.0em 0.5em;
    box-sizing: content-box; 
    -moz-box-sizing: content-box;
}

// @media all and (min-width: 600px) {
//     .information {
//         -moz-columns:2;
//         -webkit-columns:2;
//         columns:2;
//     }
// }

footer {
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 1em;
}

#filter {
    display: none;
}
