
.member-list {
	list-style-type: none;
}

.member-list li {
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 4px;
    line-height: 1.5em;
}

.member img {
    float: left;
    margin: 6px;
    max-height: 45px;
    border-radius: 45px;
}

.member-name {
	letter-spacing: 0.08em;
	font-size: 1.2em;
}

.member-bio {
	font-style: italic;
	font-size: 0.8em;
}

.member-tag {
	color: #888;
	font-size: 0.7em;
	border: 1px solid #CCC;
	padding: 4px;
	line-height: 0.7em;
	margin-right: 3px;
	margin-bottom: 3px;
	display: inline-block;
}

.member-tags {

}

.filter-button {
	border: 0px;
	background-color: rgba(1.0, 1.0, 1.0, 0.0);
	color: $primary-color;
	padding: 0px;
	margin: 0px 0px 0px 0px;
	font-size: 1.0em;
}

.filter-button:first-child {
	//margin-left: -8px;
}

.filter-button:hover {
	//text-decoration: underline;
	color: $secondary-color;
}

.selected {
	text-decoration: underline;
}

#filter {
	margin-left: 5px;
}
