nav {
	margin: 20px auto 0px auto;
	line-height: 2.5em;
	background: rgb(20, 20, 20);
}

.nav-item { 
	color: $primary-color;
	
	//border: $primary-color solid 1px;
	border-radius: 3px;

	display: inline-block; 
	width: 49%;
	padding: 0em;
	
	text-align: center;
	font-family: 'Varela Round', cursive;
	font-size: 1.2em;
}

//background:linear-gradient(to bottom, #EEE , #DDD);