* { box-sizing: border-box; -moz-box-sizing: border-box; }
body { font-family: sans-serif; background: white; color: #333; }
h1 { font-size: 1.6em; }
p { margin: 1.5em; }
.content { max-width: 500px; margin: 20px auto; }
.logo { width:100%; }