* { box-sizing: border-box; -moz-box-sizing: border-box; }
body { font-family: 'Varela', sans-serif; background: white; color: #333; }
h1 { font-size: 1.6em; }
p { margin: 0.5em; line-height: 1.5em; }
a { color: #C40; text-decoration: none; }
em { background-color: black; color: white; padding: 4px; border-radius: 3px; letter-spacing: 0.15em; box-sizing: content-box; -moz-box-sizing: content-box; }
a:hover { color: #E90; }

.content { max-width: 600px; padding: 1em 1em; margin: auto; }
.logo { 
	width:100%; 
	
	-webkit-animation: fadein 2s; /* Safari and Chrome */
       -moz-animation: fadein 2s; /* Firefox */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera */
            animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

nav { max-width: 600px; background-color: #DDD; margin: auto; }
.nav-item { 
	background:linear-gradient(to bottom, #EEE , #DDD);
	padding: 0.7em; 
	display: block; 
	width: 100%;
}
