---
title: Medlemmar
layout: front
---

<p>
	Här är en lista med folk som är med i Indiespel GBG. För att vara med, fyll i <a href="https://docs.google.com/forms/d/1dNNVC1KlmvvTDHkM-gP2yA8H3C0pntS24qCrpxeHbKI/viewform">detta formulär</a>. Både företag och privatpersoner går bra.
</p>
<p>
	<strong>Observera</strong> att listan är i slumpmässig ordning (ändras varje gång sidan laddas) och att man kan filtrera på taggar om man letar efter något speciellt.
</p>

<p class="new-section"><em>Våra medlemmar</em></p>

<p>
	Filtrera på taggar:
	<div id="filter" class="fix">
		<button class="filter-button" onclick="showAll('member');">Visa alla</button>
	</div>
</p>

<p>
	<ul class="member-list">
		{% for member in site.data.members %}
		<li class="member">
			{% if member.gravatar %}
			<img src="http://www.gravatar.com/avatar/{{ member.gravatar }}?s=64" />
			{% endif %}
			<h3 class="member-name">
				{{member.name}}
			</h3 >
			<div>
				<span class="member-bio">{{member.bio}}</span>
			</div>
			{% if member.website %}
			<a target="_blank" href="http://{{member.website}}">{{member.website}}</a>
			{% endif %}
			{% if member.twitter and member.website %}
				 |
			{% endif %}
			{% if member.twitter %}
				<a target="_blank" href="https://twitter.com/{{member.twitter}}">@{{member.twitter}}</a>
			{% endif %}
			<div class="member-tags">
				{% for tag in member.tags %}
					<span class="member-tag">{{tag}}</span>
				{% endfor %}
			</div>
		</li>
		{% endfor %}
	</ul>
</p>

<p class="new-section"><em>Vänorganisationer</em></p>

<p>
	<ul class="member-list">
		<li>
			<div class="member-name">CIGG</div >
			<div class="member-description">The Consortium of Independent Game Developers in Gothenburg</div>
			<a href="http://www.cigg.org">www.cigg.org</a>
		</li>
		<li>
			<div class="member-name">Dataspelsakademin</div >
			<div class="member-description"></div>
			<a href="http://www.dataspelsakademin.se">www.dataspelsakademin.se</a> |
			<a href="#">@dataspel</a>
		</li>
		<li>
			<div class="member-name">Collaboratory</div >
			<div class="member-description"></div>
			<a href="http://www.collaboratory.cc">www.collaboratory.cc</a>
		</li>
		<li>
			<div class="member-name">Retrospelsmässan</div >
			<div class="member-description"></div>
			<a href="http://www.retrospelsmassan.se">www.retrospelsmassan.se</a> |
			<a href="http://twitter.com/RSMGBG">@RSMGBG</a>
			<br>
			<a href="http://www.facebook.com/retrospelsmassan">Facebook</a> |
			<a href="http://www.youtube.com/retrospelsmassan">Youtube</a> |
			<a href="http://www.instagram.com/retrospelsmassan">Instagram</a>
		</li>
	</ul>
</p>

<script type="text/javascript" src="js/underscore-min.js"></script>
<script type="text/javascript" src="js/filter.js"></script>
<script type="text/javascript">
	var filter = document.querySelector("#filter");
	filter.style.display = "block"; // show the filter since js is enabled

	var tags = ["Företag", "Ljuddesigner", "Författare", "3D-grafiker", "Programmerare", "Speldesigner", "Animatör", "Forskare", "Musiker", "Projektledare", "2D-grafiker", "Leveldesigner", "Interfacedesigner", "PR", "Webdesigner", "Lärare", "Samordnare"]
	showFilter(filter, tags, "member");
</script>
