---
---

<!DOCTYPE html>

<html>
<head>
	<title>{{ page.title }}</title>
	<link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/tablet.css">
	<link rel="stylesheet" type="text/css" href="css/large.css">
</head>
<body>
	<div class="content">
		{{ content }}
	</div>
	<nav>
		<a class="nav-item" href="#">Start</a></div>
		<a class="nav-item" href="#">Medlemmar</a></div>
		<a class="nav-item" href="#">L&auml;nkar</a></div>
	</nav>
</body>
</html>