---
layout: base
---

<img id="logo" class="logo" src="img/indiespel_gbg_white_torso.jpg">

{{ site.data.navigation }}

<div class="information">
	{{ content }}
</div>

<script type="text/javascript">
	function setup_logo() {
		var logo = document.getElementById('logo');  
		//logo.style.position = "fixed";
		var navigation = document.getElementById('navigation');
		navigation.style.marginTop = (logo.height - 1) + "px";
	}
	window.onresize = setup_logo;
	document.body.onload = setup_logo;
</script>
