---
layout: base
---

<img id="logo" class="logo" src="img/indiespel_gbg_white_torso.jpg">

<nav id="navigation">
	<a class="nav-item" href="#">Introduktion</a>
	<a class="nav-item" href="#">Medlemmar</a>
	<a class="nav-item" href="#">L&auml;nkar</a>
	<a class="nav-item" href="#">Kontakt</a>
	<a class="nav-item" href="#">@indiegbg</a>
	<a class="nav-item" href="#">Kalender</a>
</nav>

<div class="information">
	{{ content }}
</div>

<script type="text/javascript">
	function setup_logo() {
		var logo = document.getElementById('logo');  
		//console.log("logo.height: " + logo.height);
		var navigation = document.getElementById('navigation');
		navigation.style.marginTop = logo.height + "px";
	}
	window.onresize = setup_logo;
</script>